In [1]:
import pyspark

In [2]:
print("simm2")

simmi

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                    .appName('SparkExample') \
                    .getOrCreate()

In [2]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
df = spark.createDataFrame(data)
df.toPandas()

       _1      _2
0    Java   20000
1  Python  100000
2   Scala    3000

In [5]:
df.createOrReplaceTempView("tor")

In [ ]:
def upperCase(str):
    return str.upper()

In [ ]:
upperUDF = udf(lambda z: upperCase(z))

In [ ]:
spark.udf.register("upperUDF", upperCase,StringType())

In [ ]:
spark.sql("select upperUDF(_1),_2 from tor").toPandas()