In [1]:
Sys.setenv("SPARK_HOME" = "/opt/spark")
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))
sparkR.session()

Warning message:
“package ‘SparkR’ was built under R version 4.2.1”

Attaching package: ‘SparkR’


The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window


The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union


Spark package found in SPARK_HOME: /opt/spark

Warning message in sparkR.session():
“Version mismatch between Spark JVM and SparkR package. JVM version was 3.3.2, while R package version was 3.3.1”

Java ref type org.apache.spark.sql.SparkSession id 1

In [3]:
results <- sql("select * from tor")
head(results)

Warning message in value[[3L]](cond):
“The conversion from Spark DataFrame to R DataFrame was attempted with Arrow optimization because 'spark.sql.execution.arrow.sparkr.enabled' is set to true; however, failed, attempting non-optimization. Reason: Error in checkSchemaInArrow(schema(x)): 'arrow' package should be installed.
”

  _1     _2
1 Java   20000
2 Python 100000
3 Scala  3000